
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.top-container{
  background-color: #000;
  padding-top: 50px;
}
h1 {
  color: #66BFBF;
  font-size: 5rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
.me_font{
  color: #07459D;
  font-size: 2.9rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
#top_P{
  font-size: 0.7rem;
  color: #087756;
}
.top_h2_p{
  line-height: 0.4;
  margin-bottom: 100px;
}
h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
}
.sht{
  color: #66BBFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 2;
  font-size: 35px;
}


.middle-container{
  margin: 100px auto;
}
.intro{
  width: 50%;
  margin: auto;
  text-align:left;
}
.bottom-container{
  background-color: #000;
  padding: 50px 0 20px;
}


.moon_pic{
  position: relative;
  left:200px;
  width: 20%;
}
.moon_pic:hover{
  width: 23%;
}
.ironman_pic{
  width: 50%;
}
.ironman_pic:hover{
  width: 53%;
}
#profile_img{
  width: 300px;
  height: 250px;
}
#profile_img:hover{
  width: 320px;
  height: 270px;
}

hr{
  border:dotted black 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto; /*top right bottom left*/
  text-align: left;
}

.help{
  width: 50%;
  color: rgb(20, 50, 60);
  text-align: center;
  margin-left: 350px
}
@media (max-width: 1080px) {
  .help{
    width: 50%;
    color: rgb(20, 50, 60);
    text-align: center;
    margin-left: 250px
  }
}

  .code_pic{
  width: 35%;
  float: left;
  margin-right: 30px;
  display:inline-block;
}
.code_pic:hover{
  width: 40%;
}
.Hobby_pic{
  width: 35%;
  float: right;
  margin-left: 30px;
}
.Hobby_pic:hover{
  width:40%;
}
.Target_pic{
  width: 35%;
  float: left;
  margin-right: 30px;
}
.Target_pic:hover{
  width: 40%;
}
.btn{
  background: #11cdd4;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}
.btn:hover{
  background: #30e3cd;
  text-decoration: none;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
.thank:hover{
  background: #defcfc;
  font-size: 2.5rem;
  margin-left: 470px;
  margin-right: 470px;
  color: #1b1919;
  font-family:'Sacramento', cursive;
}
.copyright{
  color: #aaa;
}
